<div class="container">
    <h1>{{section.settings.custom-heading }}</h1>

    {% for product in collections['featured-products'].products %}
        {% render 'card-product'
        card_product: product,
        %}
    {% endfor %}
</div>

{% schema %}
{
  "name": "Custom Section",
  "settings": [
    {
        "type": "richtext",
        "id": "custom-heading",
        "label": "Custom Heading"
    }],
    "presets": [{
        "name": "Custom Section"
    }]
}
{% endschema %}